.circle-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    border-radius: 20%;
    background: #313131;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* Soft shadow */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    border: 5px solid #313131;
}

.menu-item {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.1s, transform 0.1s ease-in-out;
    transform: translate(-50%, -50%) scale(1); /* Add scale(1) here */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 4px solid #313131b7; /* Small border around each item */
    padding: 1px; /* Offset for the border */
    box-sizing: border-box; /* Ensures that the padding and border are included in the width and height */
}

.menu-item-text {
    color: #d6d6d6; /* Dark text color */
    font-size: 1.6em; /* Slightly larger text */
    transition: color 0.1s ease-in-out;
    font-family: 'Anton', sans-serif;
    user-select: none; /* Prevents text selection */
}


/* Sun category */
.menu-item.sun,
.menu-item[data-category="sunny"],
.menu-item[data-category="clear"],
.menu-item[data-category="overcast"],
.menu-item[data-category="cloudy"] {
    background-color: #495057; /* Sunny color */
}



.menu-item.sun:hover,
.menu-item[data-category="sunny"]:hover,
.menu-item[data-category="clear"]:hover,
.menu-item[data-category="overcast"]:hover,
.menu-item[data-category="cloudy"]:hover {
    background-color: rgba(251, 183, 75, 0.7); /* Dimmed sunny color on hover */
}

.menu-item.sun:hover .menu-item-text,
.menu-item[data-category="sunny"]:hover .menu-item-text,
.menu-item[data-category="clear"]:hover .menu-item-text,
.menu-item[data-category="overcast"]:hover .menu-item-text,
.menu-item[data-category="cloudy"]:hover .menu-item-text {
  color: #fbb74b; /* Highlight text on hover */
  font-size: 1.8em; /* Slightly larger text */
}

.menu-item.sun .menu-item-text,
.menu-item[data-category="sunny"] .menu-item-text,
.menu-item[data-category="clear"] .menu-item-text,
.menu-item[data-category="overcast"] .menu-item-text,
.menu-item[data-category="cloudy"] .menu-item-text {
  color: rgba(251, 183, 75, 0.7); /* Highlight text on hover */
}

/* Rain category */
.menu-item.rain,
.menu-item[data-category="neutral"],
.menu-item[data-category="clearing"],
.menu-item[data-category="rain"],
.menu-item[data-category="thunder"] {
    background-color: #495057; /* Rainy color */
}

.menu-item.rain:hover,
.menu-item[data-category="neutral"]:hover,
.menu-item[data-category="clearing"]:hover,
.menu-item[data-category="rain"]:hover,
.menu-item[data-category="thunder"]:hover {
    background-color: rgba(162, 218, 255, 0.7); /* Dimmed rainy color on hover */
}

.menu-item.rain:hover .menu-item-text,
.menu-item[data-category="neutral"]:hover .menu-item-text,
.menu-item[data-category="clearing"]:hover .menu-item-text,
.menu-item[data-category="rain"]:hover .menu-item-text,
.menu-item[data-category="thunder"]:hover .menu-item-text {
    font-size: 1.8em; /* Slightly larger text */
  color: #a2daff; /* Highlight text on hover */
}

.menu-item.rain .menu-item-text,
.menu-item[data-category="neutral"] .menu-item-text,
.menu-item[data-category="clearing"] .menu-item-text,
.menu-item[data-category="rain"] .menu-item-text,
.menu-item[data-category="thunder"] .menu-item-text {
  color: rgba(162, 218, 255, 0.7); /* Highlight text on hover */
}

/* Snow category */
.menu-item.snow,
.menu-item[data-category="light snow"],
.menu-item[data-category="snow"],
.menu-item[data-category="blizzard"],
.menu-item[data-category="xmas"] {
    background-color: #495057; /* Snowy color */
}

.menu-item.snow:hover,
.menu-item[data-category="light snow"]:hover,
.menu-item[data-category="snow"]:hover,
.menu-item[data-category="blizzard"]:hover,
.menu-item[data-category="xmas"]:hover {
    background-color: rgba(215, 236, 238, 0.7); /* Dimmed snowy color on hover */
}

.menu-item.snow:hover .menu-item-text,
.menu-item[data-category="light snow"]:hover .menu-item-text,
.menu-item[data-category="snow"]:hover .menu-item-text,
.menu-item[data-category="blizzard"]:hover .menu-item-text,
.menu-item[data-category="xmas"]:hover .menu-item-text{
  color: rgb(215, 236, 238); /* Highlight text on hover */
  font-size: 1.8em; /* Slightly larger text */
}

.menu-item.snow .menu-item-text,
.menu-item[data-category="light snow"] .menu-item-text,
.menu-item[data-category="snow"] .menu-item-text,
.menu-item[data-category="blizzard"] .menu-item-text,
.menu-item[data-category="xmas"] .menu-item-text{
  color: rgba(215, 236, 238, 0.7); /* Highlight text on hover */
}

/* Fog category */
.menu-item.fog,
.menu-item[data-category="smog"],
.menu-item[data-category="fog"] {
    background-color: #495057; /* Foggy color */
}

.menu-item.fog:hover,
.menu-item[data-category="smog"]:hover,
.menu-item[data-category="fog"]:hover {
    background-color: rgba(224, 224, 224, 0.7); /* Dimmed foggy color on hover */
}

.menu-item.fog:hover .menu-item-text,
.menu-item[data-category="smog"]:hover .menu-item-text,
.menu-item[data-category="fog"]:hover .menu-item-text {
    color: #e0e0e0;
    font-size: 1.8em;
}

.menu-item.fog .menu-item-text,
.menu-item[data-category="smog"] .menu-item-text,
.menu-item[data-category="fog"] .menu-item-text {
    color: rgba(224, 224, 224, 0.7);
}

/* Rounded Borders for different quandrants*/
.menu-item.sun,
.menu-item[data-category="sunny"],
.menu-item[data-category="neutral"],
.menu-item[data-category="light snow"],
.menu-item[data-category="smog"] {
    border-top-left-radius: 40%;
}
.menu-item.rain,
.menu-item[data-category="clear"],
.menu-item[data-category="clearing"],
.menu-item[data-category="snow"],
.menu-item[data-category="fog"] {
    border-top-right-radius: 40%;
}
.menu-item.snow,
.menu-item[data-category="overcast"],
.menu-item[data-category="rain"],
.menu-item[data-category="blizzard"] {
    border-bottom-left-radius: 40%;
}
.menu-item.fog,
.menu-item[data-category="cloudy"],
.menu-item[data-category="thunder"],
.menu-item[data-category="xmas"] {
    border-bottom-right-radius: 40%;
}